#root {
    background: linear-gradient(to right, #09203F, #264C79);
}

#home-title {
    margin-top: 0px;
    padding-top: 30px;
    color: #ffffff;
}

#home-description {
    color: #ffffff;
}

.MuiCard-root {
    padding: 30px;
    min-height: 290px;
    margin-bottom: 40px;
    
}